/クレジットカード情報入力
#wrapper
  =render 'layouts/header'
  =render 'layouts/breadCrumbs'
  .mypage-main
    .content
      .content__credit
        %h2.credit-head
          ="クレジットカード情報入力"
        = form_with url: {controller: "card_infos", action: "pay"}, id: "charge-form", name: "inputForm", class: "credit-inner" do |f|
          .credit-content
            .credit-form-group
              = f.label :カード番号 do
                = "カード番号"
                .credit-form-must
                  ="必須"
              = f.text_field :number, id: "payment_card_no", class: 'number credit-input', placeholder: '半角数字のみ'
              %ul.card-list
                %li.card-list-item
                  = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg", size: "49x20", class: ".image"
                %li.card-list-item
                  = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/master-card.svg", size: "34x20", class: ".image"
                %li.card-list-item
                  = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg", size: "30x20", class: ".image"
                %li.card-list-item
                  = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/jcb.svg", size: "32x20", class: ".image"
                %li.card-list-item
                  = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/american_express.svg", size: "21x20", class: ".image"
                %li.card-list-item
                  = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg", size: "32x20", class: ".image"
                %li.card-list-item
                  = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/discover.svg", size: "32x20", class: ".image"
            .credit-form-group
              = f.label :有効期限 do
                = "有効期限"
                .credit-form-must
                  ="必須"
              .credit-select
                %ul
                  %li
                    = f.select :exp_month, [["--",],["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{}, {id: "payment_card_expire_mm", class: "exp_month credit-month-input"}
                    = fa_icon 'angle-down', class: 'credit-arrow-down'
                  %li
                    ="月"
                %ul
                  %li
                    = f.select :exp_year, [["--",],["19",2019],["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]], {}, {id: "payment_card_expire_yy", class: "exp_year credit-month-input"}
                    = fa_icon 'angle-down', class: 'credit-arrow-down'
                  %li
                    ="年"
            .credit-form-group
              = f.label :セキュリティコード do
                = "セキュリティコード"
                .credit-form-must
                  ="必須"
              = f.text_field :cvc, id: "payment_card_cvc", class: 'credit-input cvc', placeholder: 'カード背面4桁もしくは3桁の番号'
              .signup-code
                %span.credit-question ?
                .credit-note
                  ="カード裏面の番号とは？"
            .form-group
              .btn-default
                = f.submit :追加する, id: "submit-button", class: "btn-default btn-red"

    =render "layouts/sidemenu"

  =render "layouts/footer"
