.user__container.login__container
  %header.signup__container__header
    %h1
      = link_to "/" do
        = image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg", alt: "mercari", width: "185", height: "49")
    %nav.progress__bar
      %ol
        %li.progress-active
          会員情報
          .progress-dot
            .progress__status-first
        %li
          電話番号認証
          .progress-dot
            .progress__status
        %li
          住所入力
          .progress-dot
            .progress__status
        %li
          支払い方法
          .progress-dot
            .progress__status
        %li
          完了
          .progress-dot
            .progress__status-last

  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    .section
      %main.user__container__main
        .signup__container
          %h2.signup__container--upper 会員情報入力

          .signup__inner
            .signup__inner__container
              .signup__inner__group
                = f.label :ニックネーム
                %span.form-require 必須
                %br/
                = f.text_field :nickname, autofocus: true, autocomplete: "nickname", id: "nickname", class: "input-default", placeholder: "例）メルカリ太郎"
                = f.hidden_field :profile_id, value: "1"
                = f.hidden_field :card_info_id, value: "1"
                = f.hidden_field :user_info_id, value: "1"
                %ul
                  %li#error-nicnname.error-notice-signin

              .signup__inner__group
                = f.label :メールアドレス
                %span.form-require 必須
                %br/
                = f.text_field :email, autofocus: true, autocomplete: "email", id: "email", class: "input-default", placeholder: "PC・携帯どちらでも可"
                %ul
                  %li#error-email.error-notice-signin
                  %li#error-email1.error-notice-signin
              .signup__inner__group
                = f.label :パスワード
                %span.form-require 必須
                %br/
                = f.password_field :password, autocomplete: "new-password", id: "password", class: "input-default", placeholder: "6文字以上"
                %ul
                  %li#error-password.error-notice-signin
                  %li#error-password1.error-notice-signin
              .signup__inner__group
                = f.label :'パスワード(確認)'
                %span.form-require 必須
                %br/
                = f.password_field :password_confirmation, autocomplete: "new-password", id: "password_confirmation", class: "input-default", placeholder: "6文字以上"
                %ul
                  %li#error-password_confirmation.error-notice-signin
                  %li#error-password_confirmation1.error-notice-signin
              .signup__inner__group
                .signup__inner__group__head
                  ="本人確認"
                %p
                  ="安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。"
              .signup__inner__group
                = f.label :'姓 (全角)'
                %span.form-require 必須
                %br/
                = f.text_field :last_name, autofocus: true, autocomplete: "last_name", id: "last_name", class: "input-default", placeholder: "例）山田"
                %ul
                  %li#error-last_name.error-notice-signin
              .signup__inner__group
                = f.label :'名 (全角)'
                %span.form-require 必須
                %br/
                = f.text_field :first_name, autofocus: true, autocomplete: "first_name", id: "first_name", class: "input-default", placeholder: "例）彩"
                %ul
                  %li#error-first_name.error-notice-signin
              .signup__inner__group
                = f.label :"姓カナ (全角)"
                %span.form-require 必須
                %br/
                = f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", id: "last_name_kana", class: "input-default", placeholder: "例）ヤマダ"
                %ul
                  %li#error-last_name_kana.error-notice-signin
                  %li#error-last_name_kana1.error-notice-signin
              .signup__inner__group
                = f.label :"名カナ (全角)"
                %span.form-require 必須
                %br/
                = f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", id: "first_name_kana", class: "input-default", placeholder: "例）アヤ"
                %ul
                  %li#error-first_name_kana.error-notice-signin
                  %li#error-first_name_kana1.error-notice-signin
              .signup__inner__group
                = f.label :生年月日
                %span.form-require 必須
                %br/
                .birthday_select
                  = f.date_select :birth_date
                  %span 日
                %ul
                  %li#error-birth_date.error-notice-signin
                .signup__forminfo
                  ="※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。"
              .signup__inner__group
                /%iframe(src="https://www.google.com/recaptcha/api2/anchor?ar=1&k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&hl=ja&v=v1555968629716&size=normal&cb=nw8xf9xhent" width="304" height="78" frameborder="0" style="border:0" allowfullscreen)
              .signup__inner__group
                .signup__notification
                  ="「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします"
              .signup-submit.signup-submit-btn.next-step#osuto
                次へ進む

    / 電話番号認証
    .section
      %main.user__container__main
        .signup__container
          %h2.chapter__header 電話番号の確認

          .signup__inner
            .signup__inner__container
              .signup__inner__group
                = f.label :携帯電話の番号
                %br/
                = f.fields_for :address, Address.new do |address|
                  = address.text_field :phone_number, autofocus: true, autocomplete: "nickname", id: "phone_number", class: "input-default", placeholder: "携帯電話の番号"
                %ul
                  %li#error-phone_number.error-notice-signin
                %p.tel__info
                本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。

              .signup-submit.signup-submit-btn.next-step2
                SMSを送信する
              %p.tel-info ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
              .text-right
                = link_to "/", class: "tel_reason" do
                  電話番号の確認が必要な理由>

    / 住所入力
    .section
      %main.user__container__main
        .signup__container
          %h2.signup__container--upper 住所入力
          .signup__inner
            .signup__inner__container
              .signup__inner__group
                = f.fields_for :address, Address.new do |address|
                  .address__group
                    = address.label :郵便番号
                    %span.form-require 必須
                    %br/
                    = address.text_field :zipcord, autocomplete: "postsal_code", id: "zipcord", class: "input-default", placeholder: "123-4567"
                    %ul
                      %li#error-zipcord.error-notice-signin
                  .address__group
                    = address.label :都道府県
                    %span.form-require 必須
                    %br/
                    = address.select :prefecture, Address.prefs.keys, {}, { class: "input-default", id: "prefecture" }
                    %ul
                      %li#error-prefecture.error-notice-signin
                  .address__group
                    =address.label :市区町村
                    %span.form-require 必須
                    %br/
                    = address.text_field :city, autocomplete: "city", id: "city", class: "input-default", placeholder: "例)横浜市緑区"
                    %ul
                      %li#error-city.error-notice-signin
                  .address__group
                    =address.label :番地
                    %span.form-require 必須
                    %br/
                    = address.text_field :address, autocomplete: "house_number", id: "address", class: "input-default", placeholder: "例)青山1-1-1"
                    %ul
                      %li#error-address.error-notice-signin
                  .address__group
                    =address.label :建物名
                    %span.form-any 任意
                    %br/
                    = address.text_field :building_name, autocomplete: "building_name", id: "building_name", class: "input-default", placeholder: "例)柳ビル103"
                    %ul
                      %li#error-building_name.error-notice-signin

              .signup-submit.signup-submit-btn.next-step3
                次へ進む

    / クレジットカード
    .section
      %main.user__container__main
        .signup__container
          %h2.signup__container--upper 支払い方法

          .signup__inner
            .signup__inner__container
              .signup__inner__group
                %span カード番号
                = f.fields_for :card_info, CardInfo.new do |cardinfo|
                  = cardinfo.text_field :number, autocomplete: "number", id: "number", class: "input-default", placeholder: "半角数字のみ"
                %ul
                  %li#error-number.error-notice-signin
                  %li#error-number1.error-notice-signin
                %ul.card__lineup
                  %li
                    = image_tag("https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg", class: "card--image", width: "49")
                  %li
                    = image_tag("https://www-mercari-jp.akamaized.net/assets/img/card/master-card.svg", class: "card--image", width: "34")
                  %li
                    = image_tag("https://www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg", class: "card--image", width: "30")
                  %li
                    = image_tag("https://www-mercari-jp.akamaized.net/assets/img/card/jcb.svg", class: "card--image", width: "32")
                  %li
                    = image_tag("https://www-mercari-jp.akamaized.net/assets/img/card/american_express.svg", class: "card--image", width: "21")
                  %li
                    = image_tag("https://www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg", class: "card--image", width: "32")
                  %li
                    = image_tag("https://www-mercari-jp.akamaized.net/assets/img/card/discover.svg", class: "card--image", width: "32")
                .card__block
                  %label 有効期限
                  %br/
                  = f.fields_for :card_info, CardInfo.new do |cardinfo|
                    = cardinfo.select :month, ["",2019,2018,2017,2016,2015,2014,2013,2012], {}, { class: "card__block__select", id: "month" }
                  %span 月
                  = f.fields_for :card_info, CardInfo.new do |cardinfo|
                    = cardinfo.select :year, ["",2019,2018,2017,2016,2015,2014,2013,2012], {}, { class: "card__block__select", id: "year" }
                  %span 年
                  %ul
                    %li#error-month.error-notice-signin
                    %li#error-year.error-notice-signin
              .signup__inner__group
                %label セキュリティコード
                %span.form-require 必須
                = f.fields_for :card_info, CardInfo.new do |cardinfo|
                  = cardinfo.text_field :security_code, autocomplete: "house_number", id: "security_code", class: "input-default", placeholder: "半角数字のみ"
                  %ul
                    %li#error-security_code.error-notice-signin
                    %li#error-security_code1.error-notice-signin
                .signup__sqcode-text
                  %span ?
                  カード裏面の番号とは？
              .signup-submit.signup-submit-btn.next-step4
                = f.submit "次へ進む", class: "signup-submit-btn"

    / 完了
    .section
      %main.user__container__main
        .signup__container
          %h2.signup__container--upper 会員登録完了

          .signup__inner
            .signup__inner__container
              .signup__inner__group
                %p.fin__message ありがとうございます。
                %p.fin__message 会員登録が完了しました。

              .signup-submit.last-submit
                / = f.submit "メルカリをはじめる", class: "signup-submit-btn"
          = link_to '/', class: "fin__banner" do
            = image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg", width: "700px")
  =render "layouts/session-footer"
