.mypage-headder
  =render"layouts/header"
  =render"layouts/breadCrumbs"
.mypage-main
  .content
    .content__listing
      .content__listing__head 購入した商品
      .content__listing__tubs
        = link_to purchase_listings_path do
          .content__listing__tubs__side 取引中
        = link_to purchased_listings_path do
          .content__listing__tubs__now 過去の取引
      - if @items.present?
        - @items.each do |item|
          = link_to item_path(item.id) do
            .content__listing-box__item-tab__box
              = image_tag item.images[0].image.url,size:"50x50", class: 'content__listing-box__item-tab__box__icon'
              .content__listing-box__item-tab__box__info= item.name
              %i.fa.fa-chevron-right.arrowi
            
      - else
        .content__listing-box__item-tab
          .content__listing-box__item-tab__image-box
          .content__listing-box__item-tab__image 
          .content__listing-box__item-tab__text 出品中の商品がありません
            
  =render "layouts/sidemenu"
  =render "layouts/btn"
.mypage-footer
  =render"layouts/footer"
