#wrapper
  =render "layouts/header"
  .main
    %section.swiper-container.swiper1
      .swiper-wrapper
        .swiper-slide
          %img.swiper-slide-img{src: "https://www.mercari.com/jp/assets/img/common/jp/top/banner-natsukashi.jpg"}/
        .swiper-slide
          %img.swiper-slide-img{src: "https://www.mercari.com/jp/assets/img/common/jp/top/banner-camp.jpg"}/
        .swiper-slide
          .topBanner
            .topBanner__box
              .topBanner__box-smartphone
                %img.topBanner__box-smartphone-img{src: "https://www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?2342399531"}/
              .topBanner__box-inner
                %h2.topBanner__box-inner-msgApp
                  スマホでかんたん
                  %br
                  フリマアプリ
                %p.topBanner__box-inner-description
                  メルカリはスマホカメラからすぐに出品できる
                  %br
                  購入時も安心な独自システムのアプリです
                .topApp__banner__icon
                  %ul.topApp__banner__icon__store
                    %li.topApp__banner__icon__store-app
                      = link_to image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?4194600336"), 'https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8', class:"topApp__banner__icon__store-app-link"
                    %li.topApp__banner__icon__store-app
                      = link_to image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?4194600336"), 'https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja', class:"topApp__banner__icon__store-app-link"
      .swiper-pagination
      .swiper-button-prev
      .swiper-button-next
    .pickup__container
      %h2.pickup__container-head
        ピックアップカテゴリー
      %section.items
        %h3.items__text
          %a.items__text-link
            新着アイテム
        .items__box
          = render @items
          .items__all
            - if @item.blank?
              = link_to "全ての商品を見る", '?page=2', class:"items__all-link"

    .pickup__container
      %h2.pickup__container-head
        ピックアップブランド
      %section.items
        %h3.items__text
          = link_to "シャネル新着アイテム", root_path, class:"items__text-link"
        .items__box
          .items__box__content
            %a.item__page
              .item__page-photo
                %img.picture{src: "https://item-shopping.c.yimg.jp/i/l/linate_balenciaga-515528-txe08-4773"}/
              .item__page__body
                %h3.item__page__body-name
                  BALENCIAGA
                .item__page__body-price
                  ¥ 140,000
                  .favourite
                    %i.fa.fa-heart-o.like
                    %span 46
                %p.item__page__body-tax
                  (税込)

          .items__box__content
            %a.item__page
              .item__page-photo
                %img.picture{src: "https://thumbnail.image.rakuten.co.jp/@0_mall/fashionplate/cabinet/item_pic/balenciaga_pic/bal-item-0117-top.jpg?_ex=300x300"}/
              .item__page__body
                %h3.item__page__body-name
                  BALENCIAGA 財布
                .item__page__body-price
                  ¥ 120,000
                  .favourite
                    %i.fa.fa-heart-o.like
                    %span 32
                %p.item__page__body-tax
                  (税込)

          .items__box__content
            %a.item__page
              .item__page-photo
                %img.picture{src: "https://static-buyma-com.akamaized.net/imgdata/item/170802/0030299150/67335073/org.jpg"}/
              .item__page__body
                %h3.item__page__body-name
                  LOUIS VUITTON
                .item__page__body-price
                  ¥ 16,000
                  .favourite
                    %i.fa.fa-heart-o.like
                    %span 17
                %p.item__page__body-tax
                  (税込)

          .items__box__content
            %a.item__page
              .item__page-photo
                %img.picture{src: "https://a.1stdibscdn.com/archivesE/upload/1121189/v_30758231501571402669/3075823_master.jpg?width=768"}/
              .item__page__body
                %h3.item__page__body-name
                  supream
                .item__page__body-price
                  ¥ 125,000
                  .favourite
                    %i.fa.fa-heart-o.like
                    %span 96
                %p.item__page__body-tax
                  (税込)
          .items__all
            = link_to "全ての商品を見る", root_path, class:"items__all-link"

      %section.items
        %h3.items__text
          = link_to "ルイヴィトン新着アイテム", root_path, class:"items__text-link"
        .items__box
          .items__box__content
            %a.item__page
              .item__page-photo
                %img.picture{src: "https://item-shopping.c.yimg.jp/i/l/linate_balenciaga-515528-txe08-4773"}/
              .item__page__body
                %h3.item__page__body-name
                  BALENCIAGA
                .item__page__body-price
                  ¥ 140,000
                  .favourite
                    %i.fa.fa-heart-o.like
                    %span 46
                %p.item__page__body-tax
                  (税込)

          .items__box__content
            %a.item__page
              .item__page-photo
                %img.picture{src: "https://thumbnail.image.rakuten.co.jp/@0_mall/fashionplate/cabinet/item_pic/balenciaga_pic/bal-item-0117-top.jpg?_ex=300x300"}/
              .item__page__body
                %h3.item__page__body-name
                  BALENCIAGA 財布
                .item__page__body-price
                  ¥ 120,000
                  .favourite
                    %i.fa.fa-heart-o.like
                    %span 32
                %p.item__page__body-tax
                  (税込)

          .items__box__content
            %a.item__page
              .item__page-photo
                %img.picture{src: "https://static-buyma-com.akamaized.net/imgdata/item/170802/0030299150/67335073/org.jpg"}/
              .item__page__body
                %h3.item__page__body-name
                  LOUIS VUITTON
                .item__page__body-price
                  ¥ 16,000
                  .favourite
                    %i.fa.fa-heart-o.like
                    %span 17
                %p.item__page__body-tax
                  (税込)

          .items__box__content
            %a.item__page
              .item__page-photo
                %img.picture{src: "https://a.1stdibscdn.com/archivesE/upload/1121189/v_30758231501571402669/3075823_master.jpg?width=768"}/
              .item__page__body
                %h3.item__page__body-name
                  supream
                .item__page__body-price
                  ¥ 125,000
                  .favourite
                    %i.fa.fa-heart-o.like
                    %span 96
                %p.item__page__body-tax
                  (税込)
          .items__all
            = link_to "全ての商品を見る", root_path, class:"items__all-link"

  =render "layouts/footer"

  =render "layouts/btn"
