.solo-container
  =render "layouts/session-header"

  %main.solo-main
    %section.main-container
      %h2.main-container__head
        購入を確定しますか？
      %section.main-container__content
        .content-inner
          %h3.content-inner__image
            = image_tag @item.images[0].image.url,size:"230x220"
          %p.content-inner__name
            = @item.name
          %form(action="" class="buy-form")
            %p.price-ja
              = "¥" + number_with_delimiter(@item.price)
              %span.shopping-fee
                = @item.postage
            %ul.point
              %li.point-parent
                .point-parent-toggle
                  ポイントはありません
            %ul.price
              %li.buy-price
                .buy-price__cell
                  支払い金額
                .buy-price__cell
                  %span
                    = "¥" + number_with_delimiter(@item.price)
            = link_to "購入する", pay_item_transactions_path(@item.id), class: "btn-default"
                
      %section.main-container__user-info
        .user-info-inner
          %h3 配送先
          %address.user-info-inner__address
            = "〒" + "#{current_user.address.zipcord}"
            %br
            = "#{current_user.address.prefecture}" + "#{current_user.address.city}" + "#{current_user.address.address}" + "#{current_user.address.building_name}"
            %br
            = "#{current_user.last_name}" + "#{current_user.first_name}"
          %p.user-info-inner__text
          = link_to root_path, class: "user-info-inner__edit" do
            %span 変更する
            %i.fa.fa-angle-right
      %section.main-container__card-data
        .card-data-inner
          %h3
            支払い方法
          %p.card-data-inner__text
            = "**** **** **** " + @default_card_information.last4
            %br
            - exp_month = @default_card_information.exp_month.to_s
            - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
            = exp_month + " / " + exp_year
          = image_tag "#{@card_src}", width: "26", height: "20", alt: @card_brand
          %p
          = link_to root_path, class: "card-data-inner__edit" do
            %span 変更する
            %i.fa.fa-angle-right

  =render "layouts/session-footer"
